@import 'src/styles/variables.scss';

.board {
    background-color: $dark-gray3;
    position: relative;
    border-radius: 5px;
    z-index: 5;
}

.tetris {
    animation: logoAnimation 2000ms infinite;
    font-size: 37px;
    color: $black;
    //-webkit-text-stroke: 1 $black;
}

.instructions {
  font-size: 25px;
  margin: 30px 0 40px;
  color: $black;
}

.howtostart{
    font-size: 30px;

}
.spaceButton {
    animation: spaceButtonAnimation 500ms infinite;
}

@keyframes logoAnimation {
    0% {
        transform: scale(1) rotate(0deg);
    }
    33% {
        transform: scale(1.025) rotate(5deg);
    }
    66% {
        transform: scale(1.05) rotate(-5deg);
    }
}

@keyframes spaceButtonAnimation {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
        transform: scale(1.1);
    }
    100% {
        opacity: 0.5;
    }
}

.yourScore {
    font-size:25px;
    margin-top:12px;
}

.personalRecord{
    font-size:15px;
}

.newRecord{
    color: $red1; 
    text-shadow: 1px 1px 0px $black;
}
